:root{
	--def-border: 1px dotted #b58900;
}
a{
	color: #2aa198;
	text-decoration: none;
}
a:hover{
	color: #dc322f;
}
*{
	margin: 0;
	padding: 0;
}
body{
	background-color: #fdf6e3;
	color: #0066aa;
	font-family: 'Times New Roman', serif;
}
ul{
	padding-left: 14px;
}
p{
	padding-bottom: 10px;
}
#wrapper{
	max-width: 840px;
	padding: 20px;
	margin: auto;
}
#title{
	border-bottom: var(--def-border);
	text-align: center;
	font-size: 30px;
}
#directory{

}
#directory-text{
	display: inline-block;
}
#navmenu{
	border: var(--def-border);
}
#navmenu embed{
	max-width: 120px;
}
#content{
	border: var(--def-border);
}
#wrapper table td{
	vertical-align: top;
}
#td-navmenu{
	border-right: 10px solid transparent;
}
#td-content{
	width: 100%;
}
#footer{
	padding-top: 20px;
	text-align: right;
}
.box{
	padding: 5px;
}
