:root{
	--def-border: 1px dotted #b58900;
	--col-red: #dc322f;
	--col-green: #2aa198;
	--col-blue: #0066aa;
}
a{
	color: var(--col-green);
	text-decoration: none;
}
a:hover{
	color: var(--col-red);
}
*{
	margin: 0;
	padding: 0;
}
body{
	background-color: #fdf6e3;
	color: var(--col-blue);
	font-family: 'Times New Roman', serif;
}
ul{
	padding-left: 14px;
}
p{
	padding-bottom: 10px;
}
h1{
	font-size: 24px;
	font-weight: bold;
}
h2{
	font-size: 18px;
	font-weight: bold;
}
hr{
	border: 0px;
	height: 40px;
}
#wrapper{
	max-width: 840px;
	padding: 20px;
	margin: auto;
}
#title{
	border-bottom: var(--def-border);
	text-align: center;
	font-size: 30px;
	font-weight: bold;
}
#navmenu{
	min-width: 110px;
}
#wrapper table td{
	vertical-align: top;
}
#td-navmenu{
	border-right: 10px solid transparent;
}
#td-navmenu-small{
	display: none;
	width: 100%;
	border-bottom: 10px solid transparent;
}
@media only screen and (max-width: 600px){
	#td-navmenu{display: none;}
	#td-navmenu-small{display: block !important;}
}
#td-content{
	width: 100%;
}
#footer{
	padding-top: 20px;
	text-align: right;
}
.center{
	text-align: center;
}
.box{
	border: var(--def-border);
	padding: 5px;
}
